
.navbar {
  background-color: #3498db;
}

/* Style for the brand logo */
.navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

/* Style for the toggler icon */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #fff;
  border-radius: 2px;
  height: 2px;
}

/* Style for the navigation links */
.navbar-nav {
  font-size: 1.2rem;
}

.navbar-nav li a {
  color: #fff;
  padding: 10px 15px;
  position: relative;
}

.navbar-nav li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-nav li a:hover:before {
  opacity: 1;
}

/* Style for the active link */
.navbar-nav li.active a {
  background-color: #2980b9;
  border-radius: 5px;
}

/* Style for the dropdown menu */
.dropdown-menu {
  background-color: #3498db;
}

.dropdown-menu a {
  color: #ea0000;
  font-size: 1rem;
  padding: 8px 15px;
}

.dropdown-menu a:hover {
  background-color: #2980b9;
  border-radius: 5px;
}

/* Style for the user name */
.navbar-nav li.dropdown .nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
}

/* Style for the logout button */
.dropdown-menu a:last-child {
  background-color: #e74c3c;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 15px;
}

.dropdown-menu a:last-child:hover {
  background-color: #c0392b;
}





.container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  /* Styling for the buttons */
  .btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Styling for the headings */
  h2, h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 767px) {
    .card {
      margin-bottom: 20px;
    }
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 14px;
    font-family: sans-serif;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #333;
    color: #000000;
    font-weight: bolder;
  }
  
  .table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  